<%- include("../includes/header") %>
<%- include("../includes/navbar") %>
<main class="container-fluid">
    <div class="row">
        <% if(products.length > 0) { %>
        <% for(product of products) { %>
        <div class="col-sm-3">
            <div class="card-box">
                <figure>
                    <img class="card-image" src="<%= product.imageUrl %>" alt="img">
                </figure>
                <div class="box">
                    <h4 class="box-title"><%= product.title %></h4>
                    <p class="box-desc"><%= product.desc %></p>
                    <div class="btn-group">
                        <a href="/product/<%= product.id %>" class="mr-2 btn btn-sm btn-success">Details</a>
                        <form method="POST" action="/cart">
                            <button class="btn btn-sm btn-primary">$ <%= product.price %></button>
                            <input type="hidden" name="productId" value="<%= product.id %>">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <% } else { %>
        <h1>Product Not Found</h1>
        <% } %>

    </div>
</main>
<%- include("../includes/footer") %>